.menu {
  list-style-type: none;
  display: flex;
  padding: 0;
  position: relative;
}

.menu__content-wrapper {
  width: 100%;
  display: flex;
}

.menu__section {
  height: 75px;
  display: flex;
  align-items: center;
}

.menu__item {
  margin: 0px 20px;
  text-decoration: none;
  color: #4a4a4a;
}

.menu__item--selected {
  font-weight: bold;
}

.menu__twitter-link {
  position: absolute;
  right: 10px;
  width: 30px;
  height: 20px;
}

.menu__twitter {
  fill: #f06050;
}

@media (min-width: 850px) {
  .menu__content-wrapper {
    justify-content: center;
  }
  .menu__twitter-link {
    right: 20px;
  }
}
