.title {
  position: absolute;
  left: 50px;
  color: #4a4a4a;
}

.team__image-wrapper {
  margin-top: 100px;
}

.team__member-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.team__member-image {
  height: 300px;
}

.team__member-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  text-align: center;
  color: #4a4a4a;
}

.team__member-name {
  margin: 0;
  color: #4a4a4a;
}

.team__twitter-svg {
  width: 20px;
}

.team__twitter {
  fill: #4a4a4a;
}

@media (min-width: 850px) {
  .team__image-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .team__member-group {
    min-width: 400px;
  }

  .title {
    left: 100px;
  }
}
